.help {
  color: $help_txt;
  background-color: $help_bg;
  border: thin solid darken($help_bg, 30%);
  padding: 10px; }

.row-header {
  color: $row_header_txt;
  font-weight: bold;
  background-color: $row_header_bg; }

.row-odd {
  background-color: $row_odd_bg; }

.row-even {
  background-color: $row_even_bg; }

.row-alt {
  background-color: $row_alt_bg; }

.faded {
  filter: alpha(opacity = 20);
  /* IE */
  opacity: 0.2;
  /* Safari, Opera */
  -moz-opacity: 0.20;
  /* FireFox */ }

.clear {
  clear: both; }
