@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body, html {
  text-align: left;
  background-color: #5282a6;
}

a {
  color: #fff;
}

th {
  text-align: left;
}

img {
  border: none;
}

#doc {
  padding-top: 10px;
  margin: auto; /* center in viewport */
  width: 750px; /* fix page width */
}

.rounded-left {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;

  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.rounded-right {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;

  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.border-black {
  border: 1px solid #000;
}

.border-white {
  border: 1px solid #fff;
}

.border-grey {
  border: 1px solid #444;
}

#loading {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
  display: none;
}

.page-title {
  font-family: 'Droid Sans Mono', arial, serif;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.section-title {
  font-family: 'Droid Sans', arial, serif;
  font-size: 24px;
  color: #000;
}

#hd {
  position: relative;
}

#header {
  height: 90px;
  margin: 0px;
  padding: 5px 5px 5px 10px;
  position: relative;
  background-color: #fff;
}

#user, #help {
  position: absolute;
  z-index: 5;
  top: 5px;
  right: 10px;
}

#help {
  top: 45px;
}

#main {
  position: relative;
  min-height: 500px;
  margin-top: 0.5em;
  padding: 1em;
  background-color: #fff;
}

#navigation {
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  background-color: #222526;
  position: relative;
}

#navigation a {
  color: #fff;
}

#footer {
  padding: 1em;
  text-align: center;
  color: #fff;
}

.white {
  color: #fff;
}

.darkblue {
  color: #001f7f;
}

.blue {
  color: #065590;
}

.lightblue {
  color: #5282a6;
}

.yellow {
  color: #ee4;
}

.red {
  color: #b22;
}

.green {
  color: #2b2;
}

.darkgreen-bg {
  background: #202E2E;
}

.middlegreen-bg {
  background: #266646;
}

.lightgreen-bg {
  background: #64A354;
}

.aqua-bg {
  background: #6DE0C2;
}

.butter-bg {
  background: #FFFBC5;
}

.complete {
  background-color: #99ff99;
}
.working {
  background-color: #ffff99;
}
.created {
  background-color: #ff9999;
}

.row-header {
  color: #fff;
  background-color: #000;
}

/* Flash Messages */

#flash-messages {
  margin-bottom: 1em;
}

.notice, .success, .warning, .validation, .alert {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border: 1px solid;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('/images/icons/success.png');
}

.notice {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/images/icons/notice.png');
}

.warning, .alert {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/images/icons/error.png');
}

#error_explanation {
  background-color: #FFEAE8;
  border: 1px solid #FF8B7F;
  color: #000;
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}

#error_explanation h2 {
  color: #F0775E;
}

#error_explanation ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 15px;
  padding: 3px;
}

.help {
  color: #000;
  background-color: #EEF3DC;
  border: thin solid #666666;
  padding: 10px;
}

.rowHeader {
  background-color: #D3D3D3;
  font-weight: bold;
}

.rowBlue {
  background-color: #C5D6FA;
}

.rowWhite {
  background-color: #FFFFFF;
}

.rowGrey {
  background-color: #D3D3D3;
}

.lightred {
  background-color: #ffffbb;
  padding-right: 5px;
  padding-left: 5px;
}
.faded {
  filter: alpha(opacity=20); /* IE */
  opacity: 0.2; /* Safari, Opera */
  -moz-opacity:0.20; /* FireFox */
}

/* Pagination */
.pagination {
  margin-top: 10px;
  background: white;
  position: relative;
  left: 25%;
  width: 50%;
  /* self-clearing method: */
}
.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD;
}
.pagination span.current, .pagination em {
  font-weight: bold;
  background: #007a74;
  color: white;
  border: 1px solid #007a74;
}
.pagination a {
  text-decoration: none;
  color: #007a74;
  border: 1px solid #007a74;
}
.pagination a:hover, .pagination a:focus {
  background-color: #001f7f;
  color: #003;
  border-color: #003;
}
.pagination .page_info {
  background: #007a74;
  color: #fff;
  padding: .4em .6em;
  width: 30em;
  margin-bottom: .3em;
  text-align: center;
}
.pagination .page_info b {
  color: #007a74;
  background: #fff;
  padding: .1em .25em;
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .pagination {
  height: 1%;
}
*:first-child+html .pagination {
  overflow: hidden;
}

#user-nav {
  float: right;
}

.clear {
  clear: both;
}
