.header
  #flash-messages
    = raw(flash_messages)
    = link_to(image_tag('layout/logo.png', :class => "APP_NAME-logo", :alt => "APP_NAME"), root_url)
    = render(:partial => "shared/user.html.haml")
