%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to("Dashboard", dashboard_url)
    %li
      = link_to("Sign out", sign_out_url, data: { confirm: "Are you sure?" })
  - else
    %li
      = link_to("Sign in", sign_in_url)
